<style>
.footer.mt-5 {
    display: none;
}
</style>
<div class="container">
  <h1>Modifier mon devis</h1>
</div>
<%= render "form", invoice: @invoice %>

<br>

<div>
  <%= link_to "Voir ma facture", @invoice %> |
  <%= link_to "Retour à mes factures", invoices_path %>
</div>
