<style>
.footer.mt-5 {
    display: none;
}
</style>
<div class="container">  
  <p style="color: green"><%= notice %></p>

  <h1>Vos factures</h1>
  <div class="d-flex">
    <%= link_to "Nouvelle facture", new_invoice_path, class:"btn btn-success m-2 text-white" %>
    <%= link_to "Mes clients", clients_path, class:"btn btn-info m-2 text-white" %>
  </div>
  <div id="invoices">
    <%= render "invoice" %>
  </div>
</div>
