<style>
.footer.mt-5 {
    display: none;
}
</style>
<div class="container d-flex justify-content-between">
  <h1>Créer ma facture</h1>
  <%= link_to "Ajouter un client", new_client_path, class: "btn btn-primary m-3" %>
</div>

<%= render "form", invoice: @invoice %>

<br>

<div>
  <%= link_to "Retour à mes factures", invoices_path %>
</div>
