p.alert {
    position: absolute;
    bottom: 0px;
    right: 0px;
    float: right;
    color: green;
}

.notice {
    position: absolute;
    bottom: 0px;
    right: 0px;
    float: right;
    color: green;
}