body a{
    color: #000;
    text-decoration: revert;
    text-underline-position: under!important;
    text-underline-offset: 0px!important;
    text-decoration-color: #0040bc82!important;
    text-decoration-style: solid!important;
    text-decoration-thickness: 5px!important;
}