<div class="container">
  <div id="<%= dom_id coordinate %>">
     <p>
      <strong>Votre adresse :</strong>
      <%= coordinate.address %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= coordinate.longitude %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= coordinate.latitude %>
    </p>

  </div>
</div>