<div class="container">  
  <h1>Obtenez vos points gps avec une adresse donnée</h1>
</div>
<%= render "form", coordinate: @coordinate %>

<br>

<div class="container">
  <%= link_to "Retour sur la carte", coordinates_path %>
</div>
