<div class="banner" style="margin-top: 50px; object-fit: cover; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1365253/screenshots/11419536/final_shots_for_gif.gif);">
  <div class="container">
    <h1 data-controller="typed-js"></h1>
    <p>Augmentez votre productivité</p>
    <a class="btn btn-flat" href="#outils">Voir tous les outils</a>
  </div>
</div>