<div class="banner" style="margin-top: 50px; object-fit: cover; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1365253/screenshots/11419536/final_shots_for_gif.gif);">
  <div class="container">
    <h1 class="typed" data-controller="typed-js"></h1>
    <p class="text-white">Découvrez notre plateforme tout-en-un pour gérer vos invoices, devis et bien plus encore. Accédez à notre sélection d'outils internes et externes pour optimiser votre travail au quotidien.</p>
    <a class="btn btn-flat" href="/#outils">Voir tous les outils</a>
    <a class="btn btn-danger" href="/invoices">Outil de facturation</a>
  </div>
</div>