<div class="banner" style="object-fit: cover; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.discordapp.com/attachments/1090190215899004968/1144913330100777044/boobycodiepie_Generate_a_bright_high-resolution_image_realistic_de2a5abc-b863-4178-b065-9d0f3c3bf3e1.png);">
  <div class="container">
    <h1 class="typed" data-controller="typed-js"></h1>
    <p class="text-white">Découvrez notre plateforme tout-en-un pour gérer vos invoices, devis et bien plus encore. Accédez à notre sélection d'outils internes et externes pour optimiser votre travail au quotidien.</p>
    <a class="btn btn-flat" href="/#outils">Voir tous les outils</a>
    <a class="btn btn-danger" href="/invoices">Outil de facturation</a>
  </div>
</div>