<div class="row row-cols-2 row-cols-md-3 g-4">
<div class="col">
    <div class="card m-3">
      <img src="https://kinsta.com/fr/wp-content/uploads/sites/4/2019/02/que-sont-dns.png" class="card-img-top" alt="heroku nom de domaine">
      <div class="card-body">
        <h5 class="card-title"><%= link_to "Vérifier votre configuration DNS", 'https://dns.as-web.website/' %></h5>
        <p class="card-text">Vérifier les DNS d'un nom de domaine en tant réel. Surveillez votre propagation DNS. Vérifiez que vous avez bien connecter votre nom de domaine à <b>Heroku</b></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card m-3">
      <img src="https://images.unsplash.com/photo-1649209979970-f01d950cc5ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3282&q=80" class="card-img-top" alt="créer une facture">
      <div class="card-body">
        <h5 class="card-title"> <%= link_to "Outil de facturation", invoices_path %></h5>
        <p class="card-text">Créer et sauvegarder vos factures sur votre espace ! Exporter en pdf vos factures pour les envoyer à vos clients. Configurer votre compte et le tour est joué !</p>
      </div>
    </div>
  </div>
  <!-- <div class="col">
    <div class="card m-3">
      <img src="https://images.unsplash.com/photo-1642013352168-ccb46a0ac67f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2342&q=80" class="card-img-top" alt="illustration emoji">
      <div class="card-body">
        <h5 class="card-title"><%= link_to "Récupérer les points gps d'une adresse", coordinates_path %></h5>
        <p class="card-text">Récupérer vos coordonnées gps à partir d'une adresse donnée. API gratuite, système de mapping pour vérifier votre adresse.</p>
      </div>
    </div>
  </div> -->
</div>
