<meta name="description" content="Générateur un mot de passe robuste pour toutes vos applications. Sécurisez vos comptes gratuitement">

<style>
input {
          padding: 20px;
            user-select: none;
            height: 50px;
            width: 400px;
            border-radius: 6px;
            border: none;
            border: 2px solid rgb(13, 152, 245);
            outline: none;
            font-size: 22px;
        }
input::placeholder{
          font-size: 23px;
        }
</style>
<%= render "shared/banner" %>
 <div class="boxing">
     <h2>Générer un mot de passe fiable</h2>
        <input type="text" name="" placeholder="Créer un mot de passe" id="password" readonly>
        
 
        <table>
          <th><div id="btn-pass" class="btn1"onclick="genPassword()">Générer</div></th>
          <th><a  id="btn-pass" class="btn2" onclick="copyPassword()">Copier</a></th>
        </table>
    </div>
</div>
<script>
    var password=document.getElementById("password");
    function genPassword() {
        var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var passwordLength = 12;
        var password = "";
        for (var i = 0; i <= passwordLength; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            password += chars.substring(randomNumber, randomNumber +1);
        }
        document.getElementById("password").value = password;

    }
    function copyPassword() {
  var copyText = document.getElementById("password");
  copyText.select();
  copyText.setSelectionRange(0, 999);
  document.execCommand("copy");
  
}

</script>