<meta name="description" content="Générateur de texte lorum ipsum pour illustrer vos maquettes ou alimenter votre site internet">
<title> Choisir le nombre de paragraphe</title>
<%= render "shared/banner" %>
<div class="container mt-5">
  <h3> Choisir le nombre de paragraphe</h3>
  <form action="/lorum-resultat" method="get">
    <input type="number" name="lorum" placeholder="Nombre de paragraphe">
    <input type="submit" value="Générer">
  </form>
</div>