
<div class="container-custom">
    <h3>Nombre de paragraphe : <%= @num %></h3>
    <div class="text-justify">
        <p class="text-justify"><%= @lorum.paragraphe %></p>
    </div>
    <br>
    <%= link_to "Regénérer du texte", lorum_path, :class => 'btn btn-primary' %>
</div>
