.card{
    img.card-img-top {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        object-fit: cover;
        min-height: 240px;
        max-height: 240px;
 }
}

.card{
    border-radius: 30px;
    height: 450px;
    &:hover{
        // transform: scale(0.9);
    }
}
.cardingspace{
    margin-bottom: 100px;
}